blockquote {
	background-color: #ffffff;
	border: dotted 1px;
	padding: 1px 5px;
	font-size: 1.2em;
}

.bar {
	display: inline-block;
	width: 15px;
	background-color: #00868B;
	margin-right: 2px;
}

.min-height {
	height: 150px;
}

.text-highlight {
	color: #ff3900;
}
