/* index.html stylesheet */

/* global styles */

* {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h1 h2 h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	font-size: 1.25em;
	margin: 0;
	border: 0;
	color: #030509;
	background-color: #fbfbf5;
	
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

/* link styles */

#intro a {
	color: #8bb4d8;
	text-decoration: none;
}

#intro a:hover {
	text-decoration: underline;
}

#proj-section a {
	text-decoration: none;
	color: #030509;
}

#proj-section a:visited{
	
}

#proj-section a:hover{
	color: #ffa500;
}

/* content ids */

#site-wrapper {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto;
}

#content-section {
	margin: 0px;
}

#proj-section {
	font-size: .9em;
}

/* content classes */
